/* Style for the page footer */
footer.page-footer {
    /*background-color: #333;
    color: #fff;*/
    font-size: 1.4rem;
    height: 13rem;
    color: #fff;
    /* Background gradient effects */
    background: -ms-linear-gradient(#C95656, #8d0606);
    background: linear-gradient(#C95656, #8d0606);
}

    footer.page-footer .container {
        padding: 1rem;
    }

footer.page-footer .container a {
    color: gray;
    text-decoration: none;
}

/* To stick the footer at the bottom of the page, give the page-section a min-height so it pushes down */
section.page-section {
    background: #ffffff;
    padding-top: 14rem;
    min-height: calc(100% - 26.6rem); /* 46.6rem is the combined height of the nav, header and footer. */
}
